<nav>
  <h1></h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://en.gravatar.com/userimage/{{ site.data.theme.social.gravatar }}?size=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>Hello, I'm <br/><a href="/">{{ site.data.theme.name }}</a>.</h2>

  <div id="bio">
    <p>my blurbs and ramblings on software and tech.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>

  <div id="tags">
    {% include tags.html %}
  </div>
</nav>
